.opinions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrap {
  width: 100%;
  padding: 0 20px;
  max-width: 600px;
}

.block {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  animation-name: slideFromTop;
  animation-duration: 0.5s;
  z-index: 2;
  margin-top: 20px;
  border-radius: 4px;
  background: #fff;
  position: relative;
  border: 1px solid rgba(193, 190, 185, 0.7);
  box-shadow: 0 2px 5px 0 rgba(40, 40, 40, 0.2);
  height: 350px;
  sroll: auto;
  overflow: auto;
  display: flex;
  align-items: center;
}

.cross {
  width: 44px;
  height: 44px;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 4px;
  transition: color 0.15s;
  color: #979797;
  border: none;
  background: none;
  font-size: 0;
  cursor: pointer;
}

.content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 14px 50px;
  font: 13px/1.4615 Arial;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(0);
  }
}